.ProjectPreviewContainer{
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 10px;
}

.BgDarkBlue{
  background-color: #1D2D44;
  color: #EAF2EF;
}