.NavigatorContainer{
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  left: 26px;
  @media (max-width: 700px){
    left: 5px;
  }
  @media(max-width: 600px){
    margin-top: 5px;
  }
  * {
    margin-bottom: 5px;
  }
  .navItemContainer{
    display: flex;
    align-items: center;
  }
  .navItem{
    width: 20px;
    height: 20px;
    background-color: #272838;
    border: 2px solid #272838;
    border-radius: 20px;
    margin-right: 10px;
    transition: all 0.5s;
    &:hover{
      cursor: pointer;
    }
    @media (max-width: 530px){
      &-text{
        font-size: 10px;
      }
    }
    @media (max-width: 700px){
      margin-right: 2px;
    }
  }
  .itemLace{
    height: 200px;
    width: 1px;
    border-left: 1px solid #272838;
    position: relative;
    left: 8px;
  }
}