/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'Noto Sans KR', sans-serif;
  color: #182848;
  // background-color: #EAF2EF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.App{
  width: 100%;
  padding-left: 5%;
  transition: all 0.5s;
  background-color: #FFFF;
  @media (max-width: 700px){
    padding-left: 18%;
    padding-right: 0;
  }
}

@keyframes showIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.App-header{
  width: 100%;
  height: 100vh;
  max-height: 800px;
  min-height: 600px;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation-duration: 5s;
  animation-name: showIn;
  &-msg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media (max-width: 500px){
      justify-content: flex-end;
    }
  }

  h1 {
    font-size: 60px;
    font-weight: bold;
    margin-right: 50px;
  }
  p{
    letter-spacing: 3px;
    line-height: 35px;
    width: 40%;
    font-size: 20px;
    color: #3D5A80;
    span {
      color: #1D2D44;
      font-weight: bold;
      font-size: 22px;
    }
  }
  @media (max-width: 500px){
    padding-right: 0;
    justify-content: flex-end;
    h1 {
      width: 100%;
      text-align: right;
      margin-bottom: 50px;
      margin-right: 0;
    }
    p{
      width: 80%;
      text-align: right;
    }
  }
  @media (max-width: 530px){
    h1{
      font-size: 40px;
    }
    p{
      font-size: 15px;
      span {
        font-size: 17px;
      }
    }
  }
}



.ProjectsContainer{
  display: flex;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}